.widefat .column-wc_actions a.button.genpdf_btn_download{
    background-color: #67AE6E !important;
    color: #FFFFFF !important;
    padding: 2px 4px !important;
    width: unset !important;
    max-width: 150px !important; 
    font-weight: bold !important;
    border: none !important;
    padding: 0.5em 1em !important; 
    font-size: 10px !important;
    line-height: 1.5 !important;
    height: auto !important;
    text-align: center !important;
    text-indent: 0 !important;
    overflow: visible !important;
    white-space: normal !important;
}
.widefat .column-wc_actions a.button.genpdf_btn_send_attachments{
    background-color: #00879E !important;
    color: #FFFFFF !important;
    padding: 2px 4px !important;
    width: unset !important;
    max-width: 150px !important; 
    font-weight: bold !important;
    border: none !important;
    padding: 0.5em 1em !important; 
    font-size: 10px !important;
    line-height: 1.5 !important;
    height: auto !important;
    text-align: center !important;
    text-indent: 0 !important;
    overflow: visible !important;
    white-space: normal !important; 
}
#genpdf_table > tbody > tr > td  input{
    width: 100% ;
}
#genpdf_table > tbody > tr > td  select{
    width: 100% ;
}